html {
  scroll-behavior: smooth;
}

.web{
  display: block;
}

.mobile{
  display: none;
}

.headeraddress{
  color: white; 
  font-weight: 500; 
  margin-left: 150px; 
  margin-top: 5px;
}

@media screen and (max-width: 768px) {

.web{
  display: none;
}

.mobile{
  display: block;
}

.headeraddress{
 color: white;
    font-weight: 400;
    margin-top: -5px;
    font-size: x-small;
    text-align: right; 
 
  
}

 
}





.tags{
  padding: 20px;
  font-weight: 600;
}

.tags2{
  font-size: 1.1rem;
  font-weight: 500;
}

.menu{
  margin-left: 40px;
  padding: 10px;
  font-weight: 700;
  text-shadow: 2px 2px 5px silver;
  color: black;
}

.menu:hover{
  background-color: orange;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}






/*sidebard**/


.overlay {
  height: 89%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 89px;
  left: 0;
  background-color: whitesmoke;
  
  overflow-x: hidden;
  transition: 0.5s;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay-content {
  position: relative;
  top: 0%;
  width: 100%;
  text-align: center;
}


.overlay a {
      padding: 8px;
    text-decoration: none;
    font-size: 21px;
    color: lightseagreen;
    display: block;
    transition: 0.3s;
    
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}





/*******************************header end/*********/



.coverimage{
   



    top:0;
    background-repeat: no-repeat;
/*    background-image: url('<?php echo base_url('assets/images/coverimage.jpg') ?>');*/
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 37rem;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
    

  }

  .inputbox{
    display: inline-flex;
    margin-top: -36px;
    position: absolute;
  }



  @media screen and (max-width: 768px) {

.coverimage{
   



  
    background-repeat: no-repeat;
   /* background-image: url('<?php echo base_url('assets/images/coverimage.jpg') ?>');*/
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 22rem;
    opacity: 1;
    visibility: inherit;
    z-index: 20;

  }

  }